force-app/main/default/flows/AssignToMe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Owner</name>
        <label>Change Owner</label>
        <locationX>591</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Records</name>
        <label>Collect Records</label>
        <locationX>591</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>List or Detail View</description>
        <name>Is_Detail_View</name>
        <label>Is Detail View</label>
        <locationX>297</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Detail_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id</targetReference>
            </connector>
            <label>Detail View</label>
        </rules>
    </decisions>
    <interviewLabel>Assign To Me {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign To Me</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>503</locationX>
        <locationY>206</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>503</locationX>
        <locationY>662</locationY>
        <inputReference>Accounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>377</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Is_Detail_View</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
